/* CSS for overall page */
:root {
    --dark-blue: rgb(0, 50, 83);
    --light-blue: #7eb6d4;
    --blue-gray: #c3d5df;
}
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: var(--blue-gray);
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--dark-blue);
}

header h1 {
    padding: 10px 10px 10px 80px;
    background-color: var(--light-blue);
    font-weight: bold;
    font-size: 42px;
    margin: 15px 0;
}

header a {
    text-decoration: none;
    color: var(--dark-blue);
}

header nav {
    margin: 15px 30px;
    display: flex
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-end;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 10px 15px;
    font-weight: lighter;
    font-size: 30px;
    color: var(--light-blue);
    border-bottom: 3px solid var(--light-blue);
}

header nav ul li a:hover {
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}

.hero {
    background-image: url(../images/wood-texture.jpg);
    height: 400px;
    width: 100%;
    display: flex;
    background-size: cover;
    justify-content: flex-end;   
    position: relative; 
}

.hero-subtitle {
    margin: 20px 80px;
    position: absolute;
    bottom: 0;
}

.hero-subtitle h2 {
    color: var(--dark-blue);
    background-color: var(--light-blue);
    font-size: 30px;
    padding: 10px;
}

/* CSS for all sections*/
.all-sections {
    display: flex;
    flex-direction: column;
}

.title-styling {
    color: var(--dark-blue);
    font-size: 2vw;
}

.about-me, .work, .contact-me {
    display: flex;
    margin: 40px 20px;
}

.about-me-title, .work-title, .contact-title {
    flex: 1;
}

.about-me-title h2, .work-title h2, .contact-title h2 {
    text-align: right;
    padding: 15px 20px;
}

/* About Me */
.about-me-text {
    flex: 3;
    padding: 15px 30px;
    border-left: 3px solid var(--dark-blue);
}

/* Work Section */
.work-grid-container {
    flex: 3;
    padding: 15px 30px;
    border-left: 3px solid var(--dark-blue);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
}

.work-grid-item {
    display: flex;
    flex-direction: column;
    height: 200px;
    background-size: cover;
    border: 7px solid var(--light-blue);
    justify-content: flex-end;
    background-image: url(../images/placeholder.png);
    background-size: cover;
    background-position: center;
}

.work-grid-item:hover {
    opacity: .7;
    transform: scale(.98);
}

.work-grid-item.main-item {
    height: 415px;
    background-image: url(../images/cryptocalc-screenshot.png);
    background-size: cover;
    background-position: top;     
}

.run-buddy {
background-image: url(../images/run-buddy.png);
}

.work-grid-container a {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    text-decoration: none;
}


.grid-text-main {
    background-color: #7eb6d4de;
    color: var(--dark-blue);   
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid var(--light-blue);
}

.grid-text {
    background-color: #7eb6d4de;
    color: var(--dark-blue);   
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid var(--light-blue);
    font-size: 12px;
}


/* Contact Section */
.contact-links {
    flex: 3;
    padding: 15px 30px;
    border-left: 3px solid var(--dark-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-links a {
    text-decoration: none;
    margin: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
    color: var(--dark-blue);
    border-bottom: 3px solid var(--dark-blue);
}

.contact-links a:hover {
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {

    header nav {
        margin: 15px auto;
        
    }

    .hero{
        height: 250px;
        justify-content: flex-start;
    }

    .hero-subtitle {
        margin: 20px 0;
    }
        
    .about-me, .work, .contact-me {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .about-me-title h2, .work-title h2, .contact-title h2 {
        text-align: center;
        padding: 0 20px 15px 20px;
        margin: 0 25%;
        font-size: 30px;
        border-bottom: 3px solid var(--dark-blue);
    }

    .about-me-text {
        margin: 15px 30px;
        padding: 0;
        border-left: 0;
        color: var(--dark-blue);
    }

    .work-grid-container {
        border-left: 0px solid var(--dark-blue);
    }

    .contact-links {
        border-left: 0px solid var(--dark-blue);
    }

    .contact-links a {
        font-size: 2.0vw;
        border-bottom: 1.5px solid var(--dark-blue);
    }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

    .work-grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }


    .contact-links {
        flex-direction: column;
    }

    .contact-links a {
        font-size: 20px;
        margin: 10px;
    }

}