:root {
    --dark-blue: rgb(0, 50, 83);
    --light-blue: #7eb6d4;
    --blue-gray: #c3d5df;
}
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: var(--blue-gray);
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--dark-blue);

}

header h1 {
    padding: 10px 10px 10px 80px;
    background-color: var(--light-blue);
    font-weight: bold;
    font-size: 42px;
    margin: 15px 0;
}

header a {
    text-decoration: none;
    color: var(--dark-blue);
}

header nav {
    margin: 15px 30px;
    display: flex
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-end;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 10px 15px;
    font-weight: lighter;
    font-size: 24px;
    color: var(--light-blue);
    border-bottom: 3px solid var(--light-blue);
}

.hero {
    background-image: url(../images/wood-texture.jpg);
    height: 400px;
    width: 100%;
    display: flex;
    background-size: cover;
    justify-content: flex-end;   
    position: relative; 
}

.hero-subtitle {
    margin: 20px 80px;
    position: absolute;
    bottom: 0;
}

.hero-subtitle h2 {
    color: var(--dark-blue);
    background-color: var(--light-blue);
    font-size: 2vw;
    padding: 10px;
}

.title-styling {
    color: var(--dark-blue);
    font-size: 32px;
}

.about-me, .work {
    display: flex;
    margin: 20px;
}

.about-me-title, .work-title {
    flex: 1;
}

.about-me-title h2, .work-title h2 {
    text-align: right;
    padding: 15px 20px;
}

.about-me-text {
    flex: 3;
    padding: 15px 30px;
    border-left: 3px solid var(--dark-blue);
}

.work-grid-wrapper {
    flex: 3;
}

.work-grid-container {
    padding: 15px 30px;
    border-left: 3px solid var(--dark-blue);

}
